body {
    padding-top:100px;
    font-family: sans-serif;
    margin: 0 50px;
    background-color: #e5e5e5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./4054966.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:rgb(114, 113, 113);
    flex-direction: column;
}

.app {
    background-color: rgb(7, 7, 7);
    width: 300px;
    height: auto;
    border: 5px solid rgb(117, 116, 116);
    border-radius: 8px;
    padding: 15px;
    box-shadow: darkslategray;
}

#addNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00be56;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.fa-plus {
    background-color: black;
    padding: 3px;
    border-radius: 3px;
}

#msg {
    color: red;
}

#tasks {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    margin-bottom: 10px;
}

#tasks div {
    border: 3px solid #abcea1;
    background-color: WHITE;
    border-radius: 6px;
    padding: 5px;
    display: grid;
    gap: 4px;
    color: BLACK;
}

#tasks div .options {
    justify-self: center;
    display: flex;
    gap: 20px;
}

#tasks div .options i {
    cursor: pointer;
}

footer {
    margin-top: auto;
    padding-bottom: 10px; 
}

footer a {
    color: white;
    text-decoration: none;
}

footer:hover, a:hover{
    color: #00be56;
}